@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bottom: 20px;
  --swiper-pagination-color: rgb(249 115 22);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  /* font-family: 'Open Sans'; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.landing-page-video-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background: rgb(0, 0, 0, 0.6);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* edit pagination */

.swiper-pagination {
  z-index: 30;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* animate nav */

.animate-nav-bottom {
  animation: wiggle_nav_bottom 1s ease-in-out forwards;
}

.animate-nav-top {
  animation: wiggle_nav_top 0.5s ease-in-out forwards;
}

@keyframes wiggle_nav_bottom {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes wiggle_nav_top {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.login-img {
  background:
    linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.8)),
    linear-gradient(to top, transparent, rgb(0, 0, 0, 0.4)),
    url('/login-page.svg') no-repeat top right;
  background-size: cover;
}


.animate-auth {
  animation: slide-up .8s ease-in-out forwards;
  opacity: 0;
}

@keyframes slide-up {
   0% {
    transform: translateX(100px);
    opacity: 0;
   }
  
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}