@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bottom: 20px;
  --swiper-pagination-color: rgb(249 115 22);
  --white: #fff;
  --white: red;
  --secondary-text: #ff450d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.landing-page-video-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background: rgb(0, 0, 0, 0.6);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* edit pagination */

.swiper-pagination {
  z-index: 30;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* animate nav */

.animate-nav-bottom {
  animation: wiggle_nav_bottom 1s ease-in-out forwards;
}

.animate-nav-top {
  animation: wiggle_nav_top 0.5s ease-in-out forwards;
}

.page-header {
  /* position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.15); */
}

.is-sticky {
  position: fixed;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
  top: 0;
}

.secondary-text {
  color: var(--secondary-text);
}

.secondary-border {
  border-collapse: separate;
  border-image: linear-gradient(125deg, #faaa19 40%, #ff450dcc 100%);
  border-image-slice: 4;
  /* overflow: hidden; */
  perspective: 1px;
}

.login-img {
  background:
    linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.8)),
    linear-gradient(to top, transparent, rgb(0, 0, 0, 0.4)),
    url('/login-page.svg') no-repeat top right;
  background-size: cover;
}

.home-landing-page {
  background:
    linear-gradient(to bottom, transparent, rgba(248, 247, 247, 0.8)),
    linear-gradient(to top, transparent, rgba(247, 246, 246, 0.938)),
    url('/compliant.jpg') no-repeat top right;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.steps-section-bg {
  background:
    linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.87)),
    linear-gradient(to top, transparent, rgba(255, 252, 252, 0.952)),
    url('/social-integrated-person-workspace.jpg') no-repeat top right;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.why-section-bg {
  background:
    linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.87)),
    linear-gradient(to top, transparent, rgba(255, 252, 252, 0.952)), url('/pics/1979726285_hugeå°.jpg') no-repeat top right;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-title {
  line-height: 1.21 !important;
}

.animate-auth {
  animation: slide-up 0.8s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

span.svg-circles {
  position: absolute;
  width: 7px;
  height: 6.5px;
  border: 1px solid #ff450d;
}

.svg-stroke {
  color: #ff450d;
}

.line-svg-stroke {
  position: absolute;
  background: #ff450d;
  width: 3px;
  height: 20px;
  border-radius: 4px;
}

.solution-panel:hover img {
  transform: scale(1.3);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.solution-panel:hover .icon-vector {
  transform: scaleX(1.3);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.landing-blur {
  background: linear-gradient(86deg,
      var(--white) 27.65%,
      var(--swiper-pagination-color) 159.67%);
}

.navitem-text {
  font-size: 12px;
}

@media (max-width: 767px) {
  #fc_frame {
    bottom: 85px !important;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #776e6e #a3a3a3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

.download-progress {
  animation: download_progress 1s infinite linear;
}

.download-left-right {
  transform-origin: 0% 50%;
}

@keyframes download_progress {
  0% {
    transform: translateX(0) scaleX(0);
  }

  40% {
    transform: translateX(0) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.toast-render {
  animation: toast_slide_in 0.8s;
}

@keyframes toast_slide_in {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  40% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
  }
}

.toast-hide {
  animation: toast_slide_out 0.8s;
}

@keyframes toast_slide_out {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  40% {
    transform: translateX(500px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

.btn-vlg {
  /* background:linear-gradient(125deg, #FAAA19 80%, #FF450DCC 100%); */
  background: linear-gradient(45deg, #faaa19 0%, #ff450d 80%);
}

.footer-title {
  background: linear-gradient(45deg, #faaa19 0%, #ff450d 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .swiper-slide-active  > figure > figcaption{
  transform: scale(1.2);
} */

.testimonials-bg {
  background: #8468f5;
}

@media (max-width: 500px) {
  .testimonials-circles {
    width: 80px;
    height: 80px;
  }
}

.awesome-iframe .bubbleWithLabel #button {
  bottom: 40px !important;
}

@media (max-width: 500px) {
  .awesome-iframe .bubbleWithLabel #button {
    bottom: 20px !important;
  }
}

.landing-page-alt {
  background: rgb(215,200,234);
  background-image: linear-gradient(180deg, rgba(215, 200, 234, 1) 0%, rgba(252, 220, 165, 1) 57%);
}